.u-section-1 .u-sheet-1 {
  min-height: 835px;
}

.u-section-1 .u-post-details-1 {
  min-height: 486px;
  margin-top: 60px;
  margin-bottom: -10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-1 .u-image-1 {
  height: 250px;
  width: 252px;
  margin: 21px auto 0 20px;
}

.u-section-1 .u-text-1 {
  margin: 20px 680px 0 20px;
}

.u-section-1 .u-icon-1 {
  margin-left: 7px;
}

.u-section-1 .u-text-2 {
  margin: 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 480px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-1 .u-post-details-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}