.u-section-1 .u-sheet-1 {
  min-height: 841px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 900;
  margin: 10px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 997px;
  min-height: 733px;
  height: auto;
  margin: -7px auto 0 12px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 200px;
  width: 200px;
  height: auto;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --effect-scale: 1.25;
  transition-duration: 0.5s;
  margin: 1px auto 0 -13px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/A8821EE1-B94C-402D-A8D2-C7BED2162168.png");
  transition-duration: 0.5s;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-1 .u-group-3 {
  min-height: 200px;
  width: 200px;
  height: auto;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --effect-scale: 1.25;
  transition-duration: 3s;
  margin: -200px auto 0 199px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/quacky.png");
}

.u-section-1 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-1 .u-image-3 {
  min-height: 200px;
  width: 200px;
  height: auto;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --effect-scale: 1.25;
  background-image: url("images/RaoDevelopment6.png");
  margin: -200px 386px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-bottom: 0;
  padding-left: 13px;
}

.u-section-1 .u-group-5 {
  background-image: none;
  min-height: 113px;
  height: auto;
  width: 200px;
  margin: -2px auto 0 -13px;
}

.u-section-1 .u-container-layout-5 {
  padding-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  width: 88px;
  margin: 6px auto 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.1667em;
}

.u-section-1 .u-text-3 {
  margin: 9px 0 0;
}

.u-section-1 .u-group-6 {
  background-image: none;
  min-height: 113px;
  height: auto;
  width: 200px;
  margin: -113px auto 0 199px;
}

.u-section-1 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 500;
  margin: 4px auto 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.25em;
}

.u-section-1 .u-text-5 {
  margin: 10px 0 0;
}

.u-section-1 .u-group-7 {
  background-image: none;
  min-height: 112px;
  height: auto;
  width: 200px;
  margin: -112px 386px 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding-bottom: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 500;
  margin: 4px 19px 0;
}

.u-section-1 .u-icon-3 {
  font-size: 1.5834em;
}

.u-section-1 .u-image-4 {
  min-height: 200px;
  width: 200px;
  height: auto;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: url("images/RaoDevelopment6.png");
  background-position: 50% 50%;
  margin: -312px 174px 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding-bottom: 0;
  padding-left: 13px;
}

.u-section-1 .u-group-9 {
  background-image: none;
  min-height: 112px;
  height: auto;
  width: 200px;
  margin: 0 174px 0 auto;
}

.u-section-1 .u-container-layout-9 {
  padding-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 500;
  margin: 4px 19px 0;
}

.u-section-1 .u-icon-4 {
  font-size: 1.5834em;
}

.u-section-1 .u-image-5 {
  min-height: 200px;
  width: 200px;
  height: auto;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: url("images/RaoDevelopment6.png");
  background-position: 50% 50%;
  margin: -312px -38px 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding-bottom: 0;
  padding-left: 13px;
}

.u-section-1 .u-group-11 {
  background-image: none;
  min-height: 112px;
  height: auto;
  width: 200px;
  margin: 0 -38px 0 auto;
}

.u-section-1 .u-container-layout-11 {
  padding-bottom: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 500;
  margin: 4px 19px 0;
}

.u-section-1 .u-icon-5 {
  font-size: 1.5834em;
}

.u-section-1 .u-image-6 {
  min-height: 200px;
  width: 200px;
  height: auto;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: url("images/RaoDevelopment6.png");
  background-position: 50% 50%;
  margin: 12px auto 0 -13px;
}

.u-section-1 .u-container-layout-12 {
  padding-bottom: 0;
  padding-left: 13px;
}

.u-section-1 .u-image-7 {
  min-height: 200px;
  width: 200px;
  height: auto;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: url("images/RaoDevelopment6.png");
  background-position: 50% 50%;
  margin: -200px auto 0 199px;
}

.u-section-1 .u-container-layout-13 {
  padding-bottom: 0;
  padding-left: 13px;
}

.u-section-1 .u-image-8 {
  min-height: 200px;
  width: 200px;
  height: auto;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: url("images/RaoDevelopment6.png");
  background-position: 50% 50%;
  margin: -200px 386px 0 auto;
}

.u-section-1 .u-container-layout-14 {
  padding-bottom: 0;
  padding-left: 13px;
}

.u-section-1 .u-image-9 {
  min-height: 200px;
  width: 200px;
  height: auto;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-position: 50% 50%;
  background-image: url("images/RaoDevelopment6.png");
  margin: -200px 174px 0 auto;
}

.u-section-1 .u-container-layout-15 {
  padding-bottom: 0;
  padding-left: 13px;
}

.u-section-1 .u-image-10 {
  min-height: 200px;
  width: 200px;
  height: auto;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: url("images/RaoDevelopment6.png");
  background-position: 50% 50%;
  margin: -200px -38px 0 auto;
}

.u-section-1 .u-container-layout-16 {
  padding-bottom: 0;
  padding-left: 13px;
}

.u-section-1 .u-group-17 {
  background-image: none;
  min-height: 112px;
  height: auto;
  width: 200px;
  margin: -3px auto 0 199px;
}

.u-section-1 .u-container-layout-17 {
  padding-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 500;
  margin: 4px 19px 0;
}

.u-section-1 .u-icon-6 {
  font-size: 1.5834em;
}

.u-section-1 .u-group-18 {
  background-image: none;
  min-height: 112px;
  height: auto;
  width: 200px;
  margin: -111px 386px 0 auto;
}

.u-section-1 .u-container-layout-18 {
  padding-bottom: 0;
}

.u-section-1 .u-text-10 {
  font-weight: 500;
  margin: 4px 19px 0;
}

.u-section-1 .u-icon-7 {
  font-size: 1.5834em;
}

.u-section-1 .u-group-19 {
  background-image: none;
  min-height: 112px;
  height: auto;
  width: 200px;
  margin: -113px 174px 0 auto;
}

.u-section-1 .u-container-layout-19 {
  padding-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 500;
  margin: 4px 19px 0;
}

.u-section-1 .u-icon-8 {
  font-size: 1.5834em;
}

.u-section-1 .u-group-20 {
  background-image: none;
  min-height: 112px;
  height: auto;
  width: 200px;
  margin: -112px -38px 0 auto;
}

.u-section-1 .u-container-layout-20 {
  padding-bottom: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 500;
  margin: 4px 19px 0;
}

.u-section-1 .u-icon-9 {
  font-size: 1.5834em;
}

.u-section-1 .u-group-21 {
  background-image: none;
  min-height: 112px;
  height: auto;
  width: 200px;
  margin: -212px auto 60px 0;
}

.u-section-1 .u-container-layout-21 {
  padding-bottom: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 500;
  margin: 4px 19px 0;
}

.u-section-1 .u-icon-10 {
  font-size: 1.5834em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    background-position: 50% 50%;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    background-position: 50% 50%;
    height: auto;
  }

  .u-section-1 .u-image-3 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    background-position: 50% 50%;
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -34px;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -34px;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: -34px;
  }

  .u-section-1 .u-image-4 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    height: auto;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: -34px;
  }

  .u-section-1 .u-image-5 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    height: auto;
  }

  .u-section-1 .u-group-11 {
    height: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: -34px;
  }

  .u-section-1 .u-image-6 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    height: auto;
  }

  .u-section-1 .u-image-7 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    height: auto;
  }

  .u-section-1 .u-image-8 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    height: auto;
  }

  .u-section-1 .u-image-9 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    height: auto;
  }

  .u-section-1 .u-image-10 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    height: auto;
  }

  .u-section-1 .u-group-17 {
    height: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: -34px;
  }

  .u-section-1 .u-group-18 {
    height: auto;
  }

  .u-section-1 .u-text-10 {
    margin-top: -34px;
  }

  .u-section-1 .u-group-19 {
    height: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: -34px;
  }

  .u-section-1 .u-group-20 {
    height: auto;
  }

  .u-section-1 .u-text-12 {
    margin-top: -34px;
  }

  .u-section-1 .u-group-21 {
    height: auto;
  }

  .u-section-1 .u-text-13 {
    margin-top: -34px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 340px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-1 .u-group-7 {
    margin-right: 340px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 340px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
  }

  .u-section-1 .u-group-18 {
    margin-right: 340px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 140px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 140px;
  }

  .u-section-1 .u-group-6 {
    margin-left: 140px;
  }

  .u-section-1 .u-group-7 {
    margin-right: 140px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 140px;
  }

  .u-section-1 .u-group-9 {
    margin-right: 140px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 140px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 140px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 140px;
  }

  .u-section-1 .u-group-17 {
    margin-left: 140px;
  }

  .u-section-1 .u-group-18 {
    margin-right: 140px;
  }

  .u-section-1 .u-group-19 {
    margin-right: 140px;
  }
}

.u-block-d778-10:not([data-block-selected]):not([data-cell-selected]),
.u-block-d778-10:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-d778-10:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-d778-10:not([data-block-selected]):not([data-cell-selected]).u-block-d778-10:not([data-block-selected]):not([data-cell-selected]).u-block-d778-10:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  transform: scale(1.1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-d778-10:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-d778-10:not([data-block-selected]):not([data-cell-selected]).u-block-d778-10:not([data-block-selected]):not([data-cell-selected]).u-block-d778-10:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  transform: scale(1.1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-d778-10:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-d778-10:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-d778-10:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.tooltip-container {
	position: relative;
	display: inline-block;
}
.tooltip-text {
	content: "test"
	visibility: hidden;
	width: 250px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 120%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s;
}
.tooltip-container:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}